.map{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	display: none;
}
#map{
	position: absolute;
	width: 50%;
	height: 50%;
	top: 25%;
	left: 25%;
}