.map{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: none;
}
#all-map{
  position: absolute;
  width: 80%;
  height: calc( 90% - 150px );
  top: 150px;
  left: 10%;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.6);
}
#map{
  width: 100%;
  height: calc( 100% - 40px );
}
#map-close{
  width: 100%;
  height: 40px;
  background: #5E5271;
}
#map-close p.mis-close-icon{
  font-style: italic;
  font-family: Impact;
  float: right;
  font-weight: bold;
}
#map-close p.mis-close-icon:hover{
  cursor: pointer;
}
#map-close p{
  font-size: 20px;
  line-height: 0;
  padding: 20px;
  margin: 0;
  font-family: PTSansRegular;
  float: left;
  color: #fff;
}
.mis_field_hidden{
  display: none !important;
}
.my-hint{
  width: 130px;
}
.my-hint div{
  background: white;
  padding: 3px;
  color: grey;
  font-size: 11px;
  float: left;
}
.my-hint2{
  background: green !important;
  color: white !important;
}
  .ballon{
    background: white;
    width: 350px;
  }
  .ballon-header{
    background: #4B0C41;
    height: 30px;
  }
  .ballon-header a{
    float: right;
    background: #FF5C0F !important;
    color: white !important;
    padding: 15px;
    margin: 0;
    font-family: PTSansRegular;
    line-height: 0;
  }
  .ballon-header span{
    line-height: 0;
    padding: 15px;
    float: left;
    color: #fff;
  }
  table.shop-setting{
    width: 350px;
    padding: 10px;
    font-family: PTSansBold;
    font-size: 13px;
  }
  table.shop-setting td.mis-key{
    font-weight: 600;
    text-align: right;
    width: 100px;
    vertical-align: top;
  }
  table.shop-setting td.mis-value{
    text-align: left;
    width: 250px;
    vertical-align: top;
  }
  .btn-price button{
    font-size: 13px;
    padding: 15px;
    background: #00a300;
    line-height: 0;
    color: white;
    float: right;
    border-radius: 0;
    margin: 0;
  }
  .btn-price button:hover{
    cursor: pointer;
  }
  button.mis-btn:hover + p.pickup-price{
    color: #00a300;
  }
  .btn-price{
    overflow: hidden;
    border: 1px solid #00a300;
    margin: 15px 15px 0 15px;
  }
  .btn-price p{
    text-align: center;
    font-size: 13px;
    line-height: 0;
    padding: 15px;
    color: grey;
    float: left;
    width: 150px;
    margin: 0;
  }

#get_map_point:hover{
  cursor: pointer
}

body.woocommerce-cart.woocommerce-page table tr.shipping, body.woocommerce-cart.woocommerce-page table tr.order-subtotal{
  display: none;
}